.product-card {
  width: 100%;
  border-radius: var(--radius);
  position: relative;
  transition: box-shadow var(--transition);
  overflow: hidden;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  &:hover .product-card__description,
  &:hover .product-card__buy-btn {
    opacity: 1;
    visibility: visible;
  }
}

.product-card__slider {
  position: relative;
}

.product-card__image-wrap {
  width: 100%;
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.product-card__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__zoom-btn {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 34px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }

  &:hover .product-card__zoom-icon {
    transform: scale(1.2);
  }
}

.product-card__zoom-icon {
  display: block;
  width: 18px;
  height: 18px;
  color: var(--color-grayscale-500);
  transition: transform 0.3s ease;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14.5px;
  font-weight: bold;
  color: var(--color-grayscale-500);
}

.product-card__btn-prev,
.product-card__btn-next {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.product-card__btn-prev {
  margin-left: 5px;
}

.product-card__btn-next {
  margin-right: 5px;
}

.product-card__pagination {
  display: flex;
  gap: 5px;
}

.product-card__pagination.swiper-pagination {
  position: static;
}

.product-card__pagination .swiper-pagination-bullet {
  flex: 1;
  width: 100%;
  height: 2px;
  margin: 0 !important;
  background-color: var(--color-grayscale-200);
  opacity: 1;
}

.product-card__pagination .swiper-pagination-bullet-active {
  background-color: var(--color-orange-200);
}

.product-card__description {
  position: absolute;
  z-index: 2;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  height: 61px;
  padding: 20px;
  color: var(--color-grayscale-0);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.product-card__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px 14px;
  background-color: var(--color-grayscale-100);

  &:hover {
    background-color: var(--color-grayscale-0);
  }
}

.product-card__article {
  color: var(--color-grayscale-400);
}

.product-card__purchase {
  display: flex;
}

.product-card__title {
  display: -webkit-box;
  margin-top: 3px;
  color: var(--color-grayscale-600);
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.product-card__materials-title {
  color: var(--color-grayscale-400);
}

.product-card__modifications {
  display: flex;
  gap: 5px;
  margin-top: 8px;
}

.product-card__modification {
  display: flex;
  align-items: center;
  gap: 7px;
  height: 33px;
  padding: 6px 12px;
  border-radius: 18px;
  color: var(--color-grayscale-600);
}

.product-card__modification-icon-wrap {
  display: none;
}

.product-card__modification--active {
  border-radius: 18px;
  background-color: var(--color-grayscale-600);
  color: var(--color-grayscale-0);
}

.product-card__modification--active .product-card__modification-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--color-grayscale-100);
}

.product-card__modification--active .product-card__modification-icon {
  width: 11px;
  height: 8px;
  color: var(--color-grayscale-600);
}

.product-card__purchase {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.product-card__price-block {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.product-card__price-label {
  color: var(--color-grayscale-400);
}

.product-card__price {
  color: var(--color-grayscale-600);
}

.product-card__meter-price {
  color: var(--color-grayscale-400);
}

.product-card__meter-price-sum {
  color: var(--color-grayscale-600);
}

.product-card__buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 224px;
  height: 56px;
  padding: 17px 30px;
  border-radius: 14px;
  color: var(--color-grayscale-0);
  background-color: var(--color-orange-200);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.product-card__footer {
  padding-top: 14px;
  border-top: 1px solid var(--color-grayscale-200);
}

.product-card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__likes-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 68px;
  height: 34px;
  border-radius: 18px;
  background-color: var(--color-grayscale-100);
  cursor: pointer;
}

.product-card__likes-btn--active {
  background-color: rgba(255, 92, 0, 0.2);

  & .product-card__likes-icon {
    color: var(--color-orange-200);
  }
}

.product-card__likes-icon-wrap {
  display: flex;
  align-items: center;
  width: 22px;
  height: 22px;
}

.product-card__likes-icon {
  width: 16.5px;
  height: 15px;
  color: var(--color-grayscale-300);
}

.product-card__likes-count {
  color: var(--color-grayscale-600);
}

.product-card__calc-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.product-card__calc-link {
  color: var(--color-grayscale-400);
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-grayscale-600);
  }
}

.product-card__calc-link-icon {
  position: relative;
  top: 1px;
  width: 5.5px;
  height: 9px;
  color: var(--color-grayscale-400);
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-grayscale-600);
  }
}


@media (hover: hover) and (pointer: fine) {
  .product-card:hover .product-card__buy {
    display: block;
  }
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .product-card__description {
    display: none;
  }

  .product-card__buy-btn {
    opacity: 1;
    visibility: visible;
  }
}